*{
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p{
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  color: #ffffff;
  margin: 0
}

body{
  background-color: #151515;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0 10px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}
h4 {
  font-size: 16px
}
h5 {
  font-size: 14px
}
h6 {
  font-size: 13px
}
p{
  line-height: 2em;
  padding: 10px 0 10px;
  font-size: 16px;
  font-weight: 400;
}

/*---------------------------- header-area ----------------------------*/

.header{
  z-index: 1;
  min-height: 5vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header nav  p{
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  transform: translate(0%, -10%);
}
nav{
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 40px;
  border-radius: 50%;
}
nav .fa{
  display: none;
}
.nav-links{
  flex: 1;
  overflow: hidden;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 10px;
}
.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.nav-links ul li.active::after{
  width: 100%;
}
.nav-links ul li a{
  color : #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .body {
  padding-top: 60px;
}

/*---------------------------- body ----------------------------*/

.body{
  min-height: 90vh;
  text-align: center;
}

/*---------------------------- landing-page ----------------------------*/

.textbox{
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textbox p{
  /* margin: 10px 0 10px; */
  margin: auto;
  font-size: 16;
  color: #fff;
}
.intro{
  width: 50%;
  text-align: justify;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color :rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 3px solid rgba(0, 0, 0, 0.8);
  background: rgba(122, 122, 122, 0.8) ;
  transition: 1s;
}
.socials a{
  padding: 10px 20px;
  color: #fff;
  border-bottom: 1px solid #151515;
  transition: 1s;
  border-bottom-width: 0px;
}
.socials a:hover{
  border-bottom: 1px solid #fff;
  border-bottom-width: 3px;
}
.icons-btn{
  padding: 10px;
  margin: 20px 0 0px;
}
.content {
  height: 40px;
  overflow: hidden;
  font-size: 25px;
  line-height: 40px;
}
.content__container {
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  height: 240px;
  padding: 0 40px;
}
.content__container__text{
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}
.content__container__list {
  color: #fff;
  margin-top: 0;
  padding-left: 90px;
  text-align: left;
  list-style: none;
  /* -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite; */
  animation-name: change;
  animation-duration: 24s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}
@keyframes change {
  /* 10x + 10y = 100
  x = number of aniimations
  y = duration for sinlge line */
  0%, 4%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 14%{
    transform: translate3d(0, -16.66%, 0);
  }
  20%, 24%{
    transform: translate3d(0, -33.33%, 0);
  }
  30%, 34%{
    transform: translate3d(0, -50%, 0);
  }
  40%, 44%{
    transform: translate3d(0, -66.66%, 0);
  }
  50%, 54%{
    transform: translate3d(0, -83.33%, 0);
  }
  60%, 64%{
    transform: translate3d(0, -66.66%, 0);
  }
  70%, 74%{
    transform: translate3d(0, -50%, 0);
  }
  80%, 84%{
    transform: translate3d(0, -33.33%, 0);
  }
  90%, 94%{
    transform: translate3d(0, -16.66%, 0);
  }
}

/*---------------------------- project-page ----------------------------*/

.project-box{
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.project-row{
  border: 3px solid #fff;
  margin: 30px 0px 20px;
  display: flex;
  box-shadow: 10px 10px 60px 0px rgba(255, 255, 255, 0.2);
}
.project-col{
  justify-content: space-between;
  flex-basis: 48%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}
.project-col p{
  padding: 10px 0px;
  text-align: justify;
}
.project-col img{
  /* height: 100%; */
  width: 100%;
  transition: 0.2s;
}
.project-col:hover img{
  transform: scale(1.25);
}

/*---------------------------- about-page ----------------------------*/

.about-box{
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.about-row{
  margin: 0px 0px 40px;
  display: flex;
}
.about-col{
  margin: auto;
  justify-content: space-between;
  flex-basis: 48%;
  padding: 0px 20px;
  overflow: hidden;
}
.about-col img{
  width: 70%;
  border-radius: 50%;
}
.about-col p{
  padding: 10px;
  text-align: justify;
}
.greet {
  height: 40px;
  overflow: hidden;
  font-size: 25px;
  line-height: 40px;
}
.greet__container {
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  height: 120px;
  padding: 0 40px;
}
.greet__container__text {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
}
.greet__container__list {
  color: #fff;
  margin-top: 0;
  padding-right: 20px;
  text-align: right;
  list-style: none;
  /* -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite; */
  animation-name: change-2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
.greet__container__list__item {
  line-height: 40px;
  margin: 0;
}
@keyframes change-2 {
  /* 4x + 4y = 100
  x = number of animations
  y = duration for single line */
  0%, 21%, 100% {
    transform: translate3d(0, 0, 0);
  }
  24%, 45%{
    transform: translate3d(0, -33.33%, 0);
  }
  48%, 69%{
    transform: translate3d(0, -66.66%, 0);
  }
  72%, 93%{
    transform: translate3d(0, -33.33%, 0);
  }
}

/*---------------------------- blog-page ----------------------------*/

.chapter-nav{
  float: left;
  padding: 30px;
  margin-top: 56px;
  position: sticky;
  top: 0%;
}
.chapter-nav ul li{
  text-align: left;
  list-style: none;
  position: relative;
  padding: 10px;
}
.chapter-nav ul li::after{
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.chapter-nav ul li:hover::after{
  width: 100%;
}
.chapter-nav ul li.active::after{
  width: 100%;
}
.chapter-nav ul li a{
  color : #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
.blogboxcontainer{
  border-left: 3px solid #fff;
  float: left;
  padding: 0 40px;
  width: 80%;
}
.blogboxcontainer p{
  text-indent: 60px;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}
.blogboxcontainer h2 {
  font-weight: 600;
  text-align: left;
  padding: 10px;
}
.blog-content{
  padding: 30px 0px;
}

/*---------------------------- contact-page ----------------------------*/

input::placeholder, textarea::placeholder {
  color: #fff;
}
input:focus::placeholder, textarea:focus::placeholder {
  color: rgba(21, 21, 21, 0.5);
}
input:hover::placeholder, textarea:hover::placeholder {
  color: rgba(21, 21, 21, 0.75);
}
#form {
  position: relative;
  width: 50%;
  margin: 50px auto 20px;
}
input {
  font-size: 16px;
  width: 470px;
  height: 50px;
  padding: 0px 15px ;
  
  background: transparent;
  outline: none;
  color: #fff;
  
  border: solid 3px #ffffff;
  border-bottom: none;
  
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
input:hover {
  background: #ffffff;
  color: #151515;
}
textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #fff;
  font-size: 16px;
  
  border: solid 3px #ffffff;
  
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
textarea:hover {
  background: #ffffff;
  color: #151515;
}
#submit {
  width: 506px;
  height: 50px;
  padding: 0px;
  margin: -5px 0px 0px 0px;
  
  font-size: 16px;
  color: #ffffff;
  
  outline:none;
  cursor: pointer;
  
  border: solid 3px #ffffff;
  border-top: none;
}
#submit:hover {
  background: #ffffff;
  color: #151515;
}


/*---------------------------- footer-area ----------------------------*/

.footer{
  overflow: hidden;
  width: 100%;
  background-color: #151515;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
/*---------------------------- mobile responsive ----------------------------*/

@media(max-width: 700px){
  nav img{
    width: 30px;
    padding: 10px;
  }
  .content__container__text {
    font-size: 20px;
  }
  .content__container__list__item {
    font-size: 20px;
  }
  .nav-links{
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 175px;
    top: 0;
    right: -175px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links ul li a{
    color : #151515;
  }
  /* icon */
  nav .fa{
    display: block;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 20px;
  }
  h1{
    font-size: 20px;
    padding: 10px;
  }
  .project-row{
    flex-direction: column;
  }
}

/*---------------------------- custom-scrollbar ----------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(122, 122, 122, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(122, 122, 122, 0.5);
}
